:host {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;       
    background: linear-gradient(135deg, #7e98f4, #ebb3b3); 
    overflow: hidden; 
    background-image: 'src/assets/arcade.png';
}


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100%; 
    width: 100%; 
    background-image: url('/assets/arcade.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 3rem;
    background: linear-gradient(135deg, #e8d7e4, #e299fb);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    margin: 0; 
}

.header p {
    font-size: 1.2rem;
    color: #f7e8e8;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.game-box {
    background: linear-gradient(135deg, #fad5f2, #eeb3f2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
