body {
    background-color: #d7d7e8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;

}

.active {
    background-color: #575757;
    border-radius: 5px;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    background-color: inherit; 
    padding: 0; 
    margin: 0; 
}

.logout{
    margin-left: auto;  /* Mueve el Logout hacia la derecha */
}