:host {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;         
    background: linear-gradient(135deg, #7e98f4, #ebb3b3); 
}

.mayor-menor-container {
    font-family: system-ui;
    text-align: center;
    padding: 20px;
}
  
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;  
    background: linear-gradient(135deg, #fad5f2, #eeb3f2);    
}

button:hover {
    background: linear-gradient(135deg, #6f4454, #ea2121);   
    border: 1px solid #888;   
    cursor: pointer;            
}

  